@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Public Sans", sans-serif;
}